*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img{
    max-height: 150px;
    max-width: 150px;
    min-width: 150px;
    min-height: 150px;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.content-1 button{
    margin-left: 30px;
}

.container img{
    align-self: center;
    max-width: 10%;
    max-height: 10%;
}

h2{
    text-align: center;
}

.img-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.info-card p{
    text-align: center;
    max-width: 140px;
}

.quote-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-left: 15%;
    padding-right: 15%;
}

.quote-author{
    align-self: flex-end;
}

.sign-up-container{
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 40px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-around;

}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.header,
.content,
.footer{
    background-color: #1f2937;
}

.container{
    font-size: 18px;
    background-color: #1f2937;
    color: #f9faf8;
}

h1{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

li,
.info-1 p{
    font-size: 18px;
    color: #e5e7eb;
}

.header p{
    font-size: 24px;
    color: #f9faf8;
}

.quote-container{
    background-color: #e5e7eb;
}

.quote-container p{
    font-size: 36px;
    color: #1f2937;
    font-weight: lighter;
    font-style: italic;
}

.quote-container .quote-author{
    font-size: 24px;
}

.sign-up-container,
.sign-up-container button{
    background-color: #3882F6;
    color: #e5e7eb;
    font-size: 18px;
}

h2{
    padding: 20px;
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
}

.info-card img{
    border-style: solid;
    border-color: #3882F6;
    border-radius: 10px;
}

.content-1 button,
.sign-up-container button{
    background-color: #3882F6;
    border-style: solid;
    border-radius: 5px;
    border-color: #3882F6;
    padding: 5px 20px 5px 20px;
    color: #e5e7eb;
    font-weight: bold;
    width: 100px;
}

.sign-up-text p{
    max-width: 80%;
}

.sign-up-container button{
    border-color: #e5e7eb;
    font-weight: normal;
    padding: 2.5px 20px 2.5px 20px;
    width: 150px;
}

.footer{
    color: #e5e7eb;
}

h1,
.content-1 p{
    max-width: 90%;
    margin: 20px;
}